.row
	.col-md-12(ng-show="wallet != ''")
		.row
			.col-md-6.col-xs-12
				h1.title.h4 {{wallet.title}}
			.col-md-6.col-xs-12
				h1.title.h4
					span.right Amount : {{getCurrentAmount() | number : 2}}
						i.fa.fa-euro.fa-fw
		.row
			.col-md-12
				h2.subtitle.h5(ng-click="newTransactionVisible = !newTransactionVisible")
					i.fa.fa-plus.fa-fw(ng-class="{false:'fa-plus', true:'fa-minus'}[newTransactionVisible]")
					|&nbsp;New transaction
				form.sample-show-hide.secondary-bg.padding-xl.rounded(id="", method="", action="", name="newTransaction" ng-show="newTransactionVisible")
					.row
						.form-group.col-md-2
							label(for="title") What ?
							input.form-control(type="text", placeholder="Choose a title", ng-model="transaction.title",required, id="title",name="title")
					
						.form-group.col-md-2
							label(for='amount') How much ?
							input.form-control(type="number", placeholder="Amount",  ng-model="transaction.amount", min="0", required, id="amount", name="amount")
					
						.form-group.col-md-2
							label(for='currency') Currency
							select.form-control(ng-model="transaction.currency",required, name="currency", id="currency")
								option(value="EUR", selected) Euro
								option(value="USD") Dollar
								option(value="CNY") Yuan
						.form-group.col-md-2
							label(for='date') When ?
							input.form-control(name="date", type="date",ng-model="transaction.date",required, id="date")
						.form-group.col-md-2
							label(for='type') Type
							br
							input(bs-switch,
								switch-size="large",
								switch-active="true",
								switch-animate="false",
								switch-on-label="Debit",
								switch-off-label="Credit",
								ng-model="transaction.debit",
								id="type",
								name="type",
								type="checkbox")
						.col-md-2
							br
							input.btn.btn-lg.btn-primary.palette.palette-green-sea(type="submit", ng-click="addTransaction()", ng-disabled="!newTransaction.$valid")
							|&nbsp;
							button.btn.btn-lg.btn-warning.palette.palette-sun-flower(type="button", ng-click="resetTransaction()") Reset
		.row
			.col-md-12
				h2.subtitle.h5
					i.fa.fa-history.fa-fw
					|&nbsp;History's transactions
				table.table-striped.table.table-hover.history.secondary-bg.rounded
					thead
						tr
							th Title
							th Amount
							th Date
							th Type
							th
						tbody
							tr(ng-repeat="transaction in wallet.transactions | orderBy : 'date':true | startFrom : offset * bypage | limitTo: bypage" )
								td {{transaction.title}}
								td {{transaction.amount | number : 2}}
									i.fa.fa-dollar.fa-fw(ng-show="transaction.currency == 'USD'")
									i.fa.fa-euro.fa-fw(ng-show="transaction.currency == 'EUR'")
									i.fa.fa-cny.fa-fw(ng-show="transaction.currency == 'CNY'")
								td {{transaction.date  | date : 'yyyy MMM, dd'}}
								td
									i.fa.fa-caret-up.fa-fw(ng-if="!transaction.debit")
									i.fa.fa-caret-down.fa-fw(ng-if="transaction.debit")
								td.text-right
									i.fa.fa-trash-o.fa-lg(ng-click="deleteTransaction(transaction)")
						tfoot
							tr
								td.text-center(colspan="5")
									.btn-toolbar
										.btn-group
											button.btn.btn-primary(href="#", ng-disabled="offset == 0", ng-click="offset = offset-1") Previous
											button.btn.btn-primary(ng-repeat="i in range(nbPages) track by $index", ng-click="offset = $index", ng-disabled="offset == $index") {{$index+1}}
											button.btn.btn-primary(href="#", ng-disabled="offset >= nbPages-1", ng-click="offset = offset+1") Next
	.col-md-12(ng-show="wallet == ''")
		p.bg-danger.text-center.rounded Sorry wallet not find.
		a.right(href="#/home") Back home